services:
  postgres:
    container_name: auction_db
    image: postgres
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgrespw
      - POSTGRES_DB=auction
    ports:
      - 5432:5432
    volumes:
      - /var/lib/postgresql/data

  mongodb:
    container_name: search_db
    image: mongo
    environment:
      - MONGO_INITDB_ROOT_USERNAME=root
      - MONGO_INITDB_ROOT_PASSWORD=mongopw
      - MONGO_INITDB_DATABASE=search
    ports:
      - "27018:27017"
    volumes:
      - /var/lib/mongo/data
  
  rabbitmq:
    container_name: rabbitmq
    image: rabbitmq:3-management-alpine
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      - RABBITMQ_DEFAULT_USER=rabbitmq
      - RABBITMQ_DEFAULT_PASS=rabbitmq